.doug-sprite {
width:180px;
height:147px;
}
	.cls-1 {
	fill: #618e3e;
	}
	.cls-2 {
	fill: #486b32;
	}
	.cls-3 {
	fill: #7bb342;
	}
	.cls-4 {
	fill: #a07438;
	}
	.cls-5 {
	fill: #614b29;
	}
	.cls-6 {
	fill: #b78d3f;
	}
	.cls-7 {
	fill: #cfc069;
	}
	.cls-8 {
	fill: #c4a350;
	}
	.cls-9 {
	fill: #865d29;
	}
	.cls-10 {
	fill: #926b3c;
	}
	.cls-11 {
	fill: #dfd598;
	}
	.cls-12 {
	fill: #8a5d28;
	}
	.cls-13 {
	fill: #e7dfb3;
	}